@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-100;
}

.StyleMenuItem {
  @apply relative pb-[2px];
  border-bottom: 2px solid transparent;
  transition: border 0.7s ease;
  border-image-slice: 1;
}

.StyleMenuItem:hover {
  border-color: red;
  border-image-slice: 100%;
}

.desktopFilter {
  max-height: calc(100vh - 140px);
}

/* scroll bar style  */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b3aeae;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777070;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #585656;
}
