@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-100;
}

.StyleMenuItem {
  @apply relative pb-[2px];
  border-bottom: 2px solid transparent;
  transition: border 0.7s ease;
  border-image-slice: 1;
}

.StyleMenuItem:hover {
  border-color: red;
  border-image-slice: 100%;
}

.desktopFilter {
  max-height: calc(100vh - 140px);
}

/* scroll bar style  */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b3aeae;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777070;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #585656;
}

/* styles for navigation buttons of similar products */
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  @apply bg-slate-400 rounded-full text-gray-50 border-2 flex justify-center items-center p-7;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
}

.mySwiper .swiper-button-prev:hover,
.mySwiper .swiper-button-next:hover {
  @apply bg-slate-600;
}

@media screen and (min-width: 300px) {
  .mySwiper .swiper-container {
    width: 300px;
  }
}
@media screen and (min-width: 640px) {
  .mySwiper .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .mySwiper .swiper-container {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .mySwiper .swiper-container {
    width: 1024px;
  }
}
